td{border: 1px solid black;}
th{background-color: lightblue;}
tbody tr:nth-child(even) {background-color: lightgray;}
tr:hover{background-color: lightgreen;}

body{
    margin: 0;
    padding: 0;
    background-color: wheat;}

#employees{
    margin-left: 40%;
    margin-top: 5%;
    font-family: Aharoni, serif;}

#TimeReport{
    margin-left: 40%;
    margin-top: 5%;
    font-family: Aharoni, serif;}

#table{
    margin-left: 41%;
    margin-top: 10%;
    font-size: large;
    font-family: Aharoni, serif;}

#name{
    margin-left: 41%;
    /*margin-top: 10%;*/
    font-family: Aharoni, serif;}

#filterField{
    margin-left: 41%;
    font-family: Aharoni, serif;}

#clock{
    margin-left: 41%;
    font-size: xx-large;
    font-family: Aharoni, serif;}

#clockin{
    margin-top: 1%;
    margin-left: 41.5%;
    font-size: large;
    font-family: Aharoni, serif;
}

#clockout{
    font-size: large;
    font-family: Aharoni, serif;
}