<%- include("TOP.ejs") %>
<main>
    <h1 id="employees">
        Main Employees
    </h1>
    <br/>
    <select id="select">
        <option value="">Select Employee</option>
    </select>
    <hr/>



    <button id="clockin" onclick="addClockin()">Clock in</button>
    <button id="clockout" onclick="">Clock out</button>



    <script src="/MianEmployeesJS.js"></script>
</main>
<%- include("Bottom.ejs") %>