<%- include("TOP.ejs") %>
<main>
    <h1 id="employees">
        Time Report
    </h1>

    <div id="AddForm">
        <input type="text" name="name"  id="name"  placeholder="name"/>
        <button id="Add" onclick="addNewLine();">Add</button>
        <!--        <input type="text" name="pob"   id="pob"   placeholder="pob" />-->
        <hr/>
    </div>
    <br/>
    <input type="search" id="filterField"  placeholder="Search..." oninput="CreateTable()">
    <hr/>
    <div id="clock"></div>
    <table id="table">
        <thead>
        <tr>
            <th></th>
            <th>Edit</th>
            <th>ID</th>
            <th>Name</th>
            <th>Delete</th>
            <th>Clockin</th>
            <th>Clockout</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="mainEmployees"></tbody>
    </table>
    <script src="/TimeReportJS.js"></script>
</main>
<%- include("Bottom.ejs") %>