<%- include("TOP.ejs") %>
<main>
    <h1 id="TimeReport">
        Time Report
    </h1>
    <input type="search" id="filterField"  placeholder="Search..." oninput="CreateTable()">
    <hr/>
    <div id="clock"></div>
    <table id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Clockin</th>
            <th>Clockout</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="mainTimeReport"></tbody>
    </table>

    <script src="/TimeReportJS.js"></script>
</main>
<%- include("Bottom.ejs") %>